body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #f0f0f0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    background: #222;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }

    text {
    color: rgb(1, 1, 1);
    text-decoration: none;
  }
 
  
